*{
    padding: 0;
	margin: 0;
}
/* Start Header */
.logo-light{
    height: 50px;
}
.navbar-fixed-top.header-section {
    background: linear-gradient(-46deg, #e035a0 50%, #714ac7 100%);
    box-shadow: 0px 16px 28px 0px rgb(0 0 0 / 5%);
    border-bottom: 0;
    padding: 0;
}
ul.nav > li > a.active {
    background: none;
    color: #fff;
    opacity: 1;
}
.navbar-fixed-top ul.nav > li > a {
    color: #f0f0f0;
}
ul.nav > li > a {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Droid Arabic Kufi', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 70px;
    z-index: 1;
}
/* End Header */

/* Start Messages */
.message{
    margin: 20px 0;
}
/* End Messages */

/* Start Card */
.card{
    padding: 30px 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    height: 100%;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}
/* End Card */

/* Start Breadcrumb */
.breadcrumb-content{
    padding: 0;
}
.border-2{
    border-color: #e035a0 !important;
    margin: 10px 0 20px 0;
}
.border-2 a{
    color: #e035a0;
    text-decoration: none;
}
.border-2 a:hover{
    color: #714ac7;
    text-decoration: none;
}
/* End Breadcrumb */

/* Start Search */
.search-button{
    background-color: #e035a0;
    border-color: #e035a0;
    display: block;
    margin: auto;
    margin-top: 11%;
}
.search-button:hover{
    background-color: #714ac7;
    border-color: #714ac7;
}
.search-table{
    margin: 40px 0 20px 0;
    background-color: #e035a0;
}
.table>:not(caption)>*>*{
    background-color: #e035a0;
}
.table-active {
    --bs-table-accent-bg: #f5e9f3;
    color: #000;
}
/* End Search */

/* Start Footer */
.subscribe-section {
    background: linear-gradient(-45deg, #e035a0 50%, #714ac7 100%);
    width:100%;
    height: 100px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
}
.copyright{
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
}
/* End Footer */

/* Start ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End ScrollBar */

/* Start Pagination */
.custom-pagination{
    display: block;
    margin: 20px auto;
    width:100%;
}
.active>.page-link, .page-link.active {
    z-index: 3;
    background-color: #714ac7;
    border-color: #714ac7;
}
.page-link {
    color: #e035a0;
}
.page-link:hover {
    z-index: 2;
    color: #e035a0;
}
/* End Pagination */